.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 67%);
  z-index: 10;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1300px) {
  .mainContent {
    width: 75%;
  }
}
@media screen and (max-width: 992px) {
  .mainContent {
    width: 100%;
  }
}
